.button {
	vertical-align: middle;
	display: block;
	max-width: 300px; 
	height: $buttonHeight;
	line-height: $buttonHeight + 2px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: $buttonText;
	font-family: $fontFamily;
	font-size: 18px;
	font-weight: 500;
	background-color: $buttonColor;
  	box-shadow: inset 0px 0px 0px 0px $buttonColorHover;
	border: 2px solid $buttonColor; 
	border-radius: 0px;
	outline: none;
	z-index: 2;
	cursor: pointer;
	margin: 0 auto;

	&:hover{
		background: $buttonColorHover;
		border: 2px solid $buttonColorHover;
		color: $buttonText;
	}
	&.btn-outline{ 
		border: 2px solid $buttonColorHover;
		background: transparent;
		color: $buttonColorHover;

		&:hover{
			color: $buttonText;
			border: 2px solid $buttonColorHover;
			background: $buttonColorHover;
		}
	}
	&.btn-block{
		display: block;
		width: 100%; 
	}	
	&.btn-small{
		text-transform: none;
		font-size: 14px;
		height: 22px;
		line-height: 22px; 
	}
	input{
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    border: 0;
	    background: url("../images/spacer.gif");
	    cursor: pointer;
	}
}
button{
	//@extend .button;
}

.button-group{
	@extend %clear;

	&>.button {
	    position: relative;
	    float: left;
	    width: 33.33%;
	}
	&>.button:not(:first-child):not(:last-child){
	    border-radius: 0;
	}
	&>.button:last-child:not(:first-child) {
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	    border-left: 0;
	}
	&>.button:first-child:not(:last-child) {
	    border-top-right-radius: 0;
	    border-bottom-right-radius: 0;
	}
}