@mixin icons($background, $width, $height) {
	background: url('../images/#{$background}.png') no-repeat left top;
	width: $width; 
	height: $height;
}

.icon {
	@extend %inline-middle;
	
}

 @mixin socIcon($bg){
 	background-position: $bg;
 }

 .social-icon {
 	background-image: url('../images/social-icon.png');
 	background-repeat: no-repeat;
	
 	&_fb {
 		@include socIcon(0 0);
 	}
 	&_vk {
		@include socIcon(-15px 0);
	}
 }

 .icon-radio{
 	background-image: url(../img/radio.png);
	background-position: left bottom;
	width: 18px;
	height: 18px;
 }
 .icon-radio-check{
 	background-image: url(../img/radio.png);
	background-position: left top;
	width: 18px;
	height: 18px; 
 }