
body *{
	-moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	z-index: 1;
	@extend %clear;
}

.main {
	overflow: hidden;
	.sidebar {
		width: 180px;
		float: left;
	}
	.content {
		float: left;
		width: 780px;
	}
}

.footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:2;
	overflow:hidden;
	
	&_placeholder{
		height: 0;
	}
}

.tabs-list{
	margin-bottom: 30px;
}

.preview{
	background-position: left center;
	background-size: cover;
	background-repeat: no-repeat; 
	height: 650px;
}
.news{	
	margin-bottom: 32px;
	.mainheading{
	    margin-bottom: 35px;
	}
}
.advice{	
	margin-bottom: 93px;
	.mainheading{
	    margin-bottom: 54px;
	}
	&.advice-inner{
		background: none;
		padding-top: 0;
		padding-bottom: 0; 
		margin-bottom: 30px;
	}
}
.tests{	
	margin-bottom: 50px;
	.mainheading{
        margin-bottom: 34px;
	}
}

.inner-page{
	@media (max-width:768px){ 
		padding-top: 30px;
	}
}

.pattern{
	height: 350px;
	margin-bottom: 30px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 40px;
	.mainheading{
		color:#fff;
		 text-shadow: 0px 0px 57px rgb( 0, 0, 0 );
		span{
			border-color:#fff;
			@media (max-width:480px){ 
				border-color:	$activeColor;
			}
		}

		@media (max-width:768px){ 
			display: table-cell;
			vertical-align: middle;
		}
		@media (max-width:480px){ 
			text-shadow:none;
			color:$activeColor;
			display: block;
		}
	}
	@media (max-width:768px){ 
		display: table;
		width: 100%;
		padding-top: 0;
	}
	@media (max-width:480px){ 
		height: auto;
		display: block;
		background-image: none !important;
		padding-top: 60px;
	}
}

.breadcrumbs{
    padding: 14px 0px; 
	ul{ 
	    margin-left: 22.3301%;
		li{
			float: left;
			a,span{
				font-size: 11px;
				color: rgba( 66, 66, 66, 0.302 );
			}
			&:after{
				content: url(../img/breadcrumbs-arrow.png);
				margin: 0 8px;
			}
			&:last-child:after{
				content:none;
			}
		}
	}

	@media (max-width:768px){ 
		display: none;
	}
}