@media (min-width: $container) {
	.container {
		width: $container;
		padding: 0 0;
	}
}
@media (min-width:769px){ 
	.navbar-toggle {
		display: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.visible-xs{
		display: none;
	}
}
@media (max-width:768px){ 
	.header{
		&-menu {   
			.navbar-collapse{
				padding: 20px 0 10px 0;
			} 
			ul{
				display: block;
				li{
					display: block; 
					float: none;
					padding: 0;
					&:first-child, 
					&:last-child{
						text-align: center !important;
					}
					a{
						line-height: inherit;
						padding: 0;
						line-height: 35px;
					}
				}
			}
		}
	}
	.visible-xs{
		display: block;
	}
}

@media (max-width:480px){
}