$fontFamily:  'Fira Sans', sans-serif;
$baseColor : #424242; 
$baseColorHover : #424242; 
$ctextColor : #424242; 
$titleSize : 1.2em;
$bodyBackground : #fff;
$bodyFontSize : 14px;
$container : 1030px;
$containerNum : 1030;
$minContainer : 320px;
$activeColor: #0d5529;

/*buttons*/
$buttonHeight: 60px;
$buttonColor : #0d5529;
$buttonColorHover : #158040;
$buttonText : #fff;