
%heading {
	display: block;
	font-weight : normal;
	margin-bottom : 1em;
	color : $activeColor;
} 

a{
	@extend %link;
	border:0;
	text-decoration: none;
	color : $activeColor;

	&:hover{color : $activeColor;text-decoration: none;}
}

.mainheading,.ctext h1,h1{
	@extend %heading;
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 25px;
	color: $activeColor;
	text-align: center;
	text-transform: uppercase;
    margin-bottom: 27px;
	span{
		position: relative;
		@extend %inline-middle;
		border-top: 2px solid $activeColor;
		border-bottom: 2px solid $activeColor;
	    padding: 11px 0 4px 0;
	}
	@media (max-width:768px){ 
		font-size: 40px;
	}
}
.subheading,.ctext h2,h2{
	@extend %heading;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
    margin-bottom: 15px;
}
.thirdheading,.ctext h3,h3{
	@extend %heading;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: left; 
	span{
		position: relative;
		@extend %inline-middle;
		border-top: 1px solid $activeColor;
		border-bottom: 1px solid $activeColor;
	    padding: 9px 0 5px 0;
	    min-width: 175px;	
	    text-align: center;	
	}
}
.fourheading,.ctext h4,h4{
	@extend %heading;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.fiveheading,.ctext h5,h5{
	@extend %heading;
	font-size: 16px;
}

.ctext {
	margin-bottom: 45px;
    &.onlytext{
	    padding-top: 32px;
	    padding-left: 30px;
	    padding-right: 30px;    	
    }
	p {
		margin:0 0 24px 0;
		font-size: $bodyFontSize;
	    line-height: 24px;
		text-align: left;

		&:last-child{margin-bottom:0;}

		img{
			float: left;
			margin-right: 28px;
			margin-bottom: 30px;
			@media (max-width:768px){ 
				float: none;
				display: block;
				margin: 0 auto 15px auto;
			}
		}
	}

	ul{
		margin:0 0 24px 0;
		&:last-child{margin-bottom:0;}
		li{
			position:relative;
		    line-height: 24px;
			font-size: $bodyFontSize;
			
			&:before{content:'-'; color:$ctextColor; margin-right: 3px;}
		}
	}
	ol{
		margin:0 0 24px 0;
		counter-reset: list;
		li{
		    line-height: 24px;
			font-size: $bodyFontSize;
			
			&:before{counter-increment: list; content: counter(list) ". "; color:$ctextColor; margin-right: 3px;}
		}
	}
	blockquote{
		position: relative;
		text-transform: uppercase;
		margin: 0 0 1.5em 0;
		padding-left:2.2em;
		font-size: 1.2em;
		line-height: 1.6em;
		letter-spacing: 0.1111em;
		&:after{content:'';position:absolute;left:0;top:9px;bottom:9px;width:4px;background-color:#edf2f5;}
	}
	table{border-collapse:collapse;}
	table td{border:1px solid;}

	.button{
		margin-bottom: 5px;
	}
}