/*buttons*/
.icon, .mainheading span, .ctext h1 span, h1 span, .thirdheading span, .footer-copyright span, .ctext h3 span, h3 span {
  display: inline-block;
  vertical-align: middle; }

.form-field:last-child, .footer-menu ul li:last-child {
  margin-bottom: 0; }

a {
  color: #424242; }
  a:hover {
    color: #424242;
    text-decoration: none; }


.container:after,
.button-group:after,
.header-menu:after,
.header-lang a:after,
.footer-row:after,
.footer-col dl:after,
.media-list:after,
.advice-list:after {
  content: '';
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
  display: block; }

.icon, .mainheading span, .ctext h1 span, h1 span, .thirdheading span, .footer-copyright span, .ctext h3 span, h3 span {
  display: inline-block;
  vertical-align: middle; }

.media-item-hidden {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

b {
  font-weight: bold; }

i {
  font-style: italic; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1; }

.main {
  overflow: hidden; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden; }
  .footer_placeholder {
    height: 0; }

.tabs-list {
  margin-bottom: 30px; }

.preview {
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px; }

.news {
  margin-bottom: 32px; }
  .news .mainheading {
    margin-bottom: 35px; }

.advice {
  margin-bottom: 93px; }
  .advice .mainheading {
    margin-bottom: 54px; }
  .advice.advice-inner {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px; }

.tests {
  margin-bottom: 50px; }
  .tests .mainheading {
    margin-bottom: 34px; }

@media (max-width: 768px) {
  .inner-page {
    padding-top: 30px; } }

.pattern {
  height: 350px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px; }
  .pattern .mainheading {
    color: #fff;
    text-shadow: 0px 0px 57px black; }
    .pattern .mainheading span {
      border-color: #fff; }
      @media (max-width: 480px) {
        .pattern .mainheading span {
          border-color: #0d5529; } }
    @media (max-width: 768px) {
      .pattern .mainheading {
        display: table-cell;
        vertical-align: middle; } }
    @media (max-width: 480px) {
      .pattern .mainheading {
        text-shadow: none;
        color: #0d5529;
        display: block; } }
  @media (max-width: 768px) {
    .pattern {
      display: table;
      width: 100%;
      padding-top: 0; } }
  @media (max-width: 480px) {
    .pattern {
      height: auto;
      display: block;
      background-image: none !important;
      padding-top: 60px; } }

.breadcrumbs {
  padding: 18px 0px; }
  .breadcrumbs ul {
    margin-left: 22.3301%; }
    .breadcrumbs ul li {
      float: left; }
      .breadcrumbs ul li a, .breadcrumbs ul li span {
        font-size: 11px;
        color: rgba(66, 66, 66, 0.302); }
      .breadcrumbs ul li:after {
        content: url(../img/breadcrumbs-arrow.png);
        margin: 0 8px; }
      .breadcrumbs ul li:last-child:after {
        content: none; }
  @media (max-width: 768px) {
    .breadcrumbs {
      display: none; } }

/* fonts */
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden; }

.juster {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden; }

.vfix {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle; }

.hiddenBlock {
  position: absolute;
  left: -99999em;
  top: -99999em; }

.hidden {
  display: none; }

html {
  height: 100%; }

body {
  min-height: 100%;
  min-width: 320px;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  background: #fff;
  color: #424242;
  position: relative; }

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%; }

.social-icon {
  background-image: url("../images/social-icon.png");
  background-repeat: no-repeat; }
  .social-icon_fb {
    background-position: 0 0; }
  .social-icon_vk {
    background-position: -15px 0; }

.button {
  vertical-align: middle;
  display: block;
  max-width: 300px;
  height: 60px;
  line-height: 62px;
  padding: 0 15px;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #0d5529;
  box-shadow: inset 0px 0px 0px 0px #158040;
  border: 2px solid #0d5529;
  border-radius: 0px;
  outline: none;
  z-index: 2;
  cursor: pointer;
  margin: 0 auto;
  transition: 300ms all ease; }
  .button:hover {
    background: #158040;
    border: 2px solid #158040;
    color: #fff; }
  .button.btn-outline {
    border: 2px solid #158040;
    background: transparent;
    color: #158040; }
    .button.btn-outline:hover {
      color: #fff;
      border: 2px solid #158040;
      background: #158040; }
  .button.btn-block {
    display: block;
    width: 100%; }
  .button.btn-small {
    text-transform: none;
    font-size: 14px;
    height: 22px;
    line-height: 22px; }
  .button input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    background: url("../images/spacer.gif");
    cursor: pointer; }

.button-group > .button {
  position: relative;
  float: left;
  width: 33.33%; }

.button-group > .button:not(:first-child):not(:last-child) {
  border-radius: 0; }

.button-group > .button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0; }

.button-group > .button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.mainheading, .ctext h1, h1, .subheading, .form legend, .ctext h2, h2, .thirdheading, .footer-copyright, .ctext h3, h3, .fourheading, .ctext h4, h4, .fiveheading, .ctext h5, h5 {
  display: block;
  font-weight: normal;
  margin-bottom: 1em;
  color: #0d5529; }

a {
  border: 0;
  text-decoration: none;
  color: #0d5529; }
  a:hover {
    color: #0d5529;
    text-decoration: none; }

.mainheading, .ctext h1, h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 25px;
  color: #0d5529;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 27px; }
  .mainheading span, .ctext h1 span, h1 span {
    position: relative;
    border-top: 2px solid #0d5529;
    border-bottom: 2px solid #0d5529;
    padding: 11px 0 4px 0; }
  @media (max-width: 768px) {
    .mainheading, .ctext h1, h1 {
      font-size: 40px; } }

.subheading, .form legend, .ctext h2, h2 {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px; }

.thirdheading, .footer-copyright, .ctext h3, h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left; }
  .thirdheading span, .footer-copyright span, .ctext h3 span, h3 span {
    position: relative;
    border-top: 1px solid #0d5529;
    border-bottom: 1px solid #0d5529;
    padding: 9px 0 5px 0;
    min-width: 175px;
    text-align: center; }

.fourheading, .ctext h4, h4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase; }

.fiveheading, .ctext h5, h5 {
  font-size: 16px; }

.ctext {
  margin-bottom: 45px; }
  .ctext.onlytext {
    padding-top: 32px;
    padding-left: 30px;
    padding-right: 30px; }
  .ctext p {
    margin: 0 0 24px 0;
    font-size: 14px;
    line-height: 24px;
    text-align: left; }
    .ctext p:last-child {
      margin-bottom: 0; }
    .ctext p img {
      float: left;
      margin-right: 28px;
      margin-bottom: 30px; }
      @media (max-width: 768px) {
        .ctext p img {
          float: none;
          display: block;
          margin: 0 auto 15px auto; } }
  .ctext ul {
    margin: 0 0 24px 0; }
    .ctext ul:last-child {
      margin-bottom: 0; }
    .ctext ul li {
      position: relative;
      line-height: 24px;
      font-size: 14px; }
      .ctext ul li:before {
        content: '-';
        color: #424242;
        margin-right: 3px; }
  .ctext ol {
    margin: 0 0 24px 0;
    counter-reset: list; }
    .ctext ol li {
      line-height: 24px;
      font-size: 14px; }
      .ctext ol li:before {
        counter-increment: list;
        content: counter(list) ". ";
        color: #424242;
        margin-right: 3px; }
  .ctext blockquote {
    position: relative;
    text-transform: uppercase;
    margin: 0 0 1.5em 0;
    padding-left: 2.2em;
    font-size: 1.2em;
    line-height: 1.6em;
    letter-spacing: 0.1111em; }
    .ctext blockquote:after {
      content: '';
      position: absolute;
      left: 0;
      top: 9px;
      bottom: 9px;
      width: 4px;
      background-color: #edf2f5; }
  .ctext table {
    border-collapse: collapse; }
  .ctext table td {
    border: 1px solid; }
  .ctext .button {
    margin-bottom: 5px; }

.form {
  position: relative; }
  .form-field {
    margin-bottom: 15px; }
    .form-field label {
      font-size: 14px;
      display: block;
      margin-bottom: 15px; }

.collapse {
  display: none; }

.navbar-collapse {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0); }

.navbar-toggle {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  right: 15px;
  top: 6px;
  width: 26px;
  float: none;
  z-index: 2;
  position: absolute; }

.navbar-toggle .icon-container {
  width: 100%;
  height: 24px;
  position: absolute;
  top: 23px;
  left: 0px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.navbar-toggle .line01 {
  top: 0;
  opacity: 1;
  -webkit-transition-delay: 210ms;
  -moz-transition-delay: 210ms;
  -ms-transition-delay: 210ms;
  -o-transition-delay: 210ms;
  transition-delay: 210ms; }

.navbar-toggle .line02 {
  top: 9px;
  -webkit-transition-delay: 140ms;
  -moz-transition-delay: 140ms;
  -ms-transition-delay: 140ms;
  -o-transition-delay: 140ms;
  transition-delay: 140ms; }

.navbar-toggle .line03 {
  top: 18px;
  -webkit-transition-delay: 70ms;
  -moz-transition-delay: 70ms;
  -ms-transition-delay: 70ms;
  -o-transition-delay: 70ms;
  transition-delay: 70ms; }

.navbar-toggle .line04 {
  top: 27px;
  opacity: 0;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms; }

.navbar-toggle .line {
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  right: 28px;
  height: 5px;
  background-color: #0d5529;
  -webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.navbar-toggle.active .line:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
  opacity: 1; }

.navbar-toggle.active .line:nth-child(2) {
  background: none; }

.navbar-toggle.active .line:nth-child(4) {
  background: none; }

.navbar-toggle.active .line:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
  opacity: 1; }

.navbar-toggle.active .line {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.header {
  background: #f6f2ea;
  position: relative;
  z-index: 3; }
  .header-logo {
    float: left;
    position: relative;
    max-height: 80px;
    top: 7px; }
  .header-menu {
    position: relative;
    z-index: 2;
    width: 67.96117%;
    margin-left: 22.3301%; }
    .header-menu ul {
      display: block;
      width: 100%; }
      .header-menu ul li {
        float: left;
        text-align: center;
        padding-top: 5px; }
        .header-menu ul li a {
          line-height: 80px;
          text-decoration: none;
          color: #0d5529;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          padding: 0 25px; }
          @media (min-width: 768px) and (max-width: 960px) {
            .header-menu ul li a {
              font-size: 16px;
              padding: 0 10px; } }
        .header-menu ul li.active,
        .header-menu ul li a:hover {
          text-decoration: underline; }
        .header-menu ul li:first-child {
          text-align: left; }
          .header-menu ul li:first-child a {
            padding-left: 0; }
        .header-menu ul li:last-child {
          text-align: right; }
          .header-menu ul li:last-child a {
            padding-right: 0; }
  .header-lang {
    float: right;
    padding-top: 16px; }
    .header-lang a {
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      color: #424242;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      line-height: 17px;
      padding: 2px 0 0px 0;
      margin-bottom: 10px; }
      .header-lang a.active {
        border-color: #424242; }

.footer {
  background: #f6f2ea; }
  .footer h3 {
    margin-bottom: 32px; }
  .footer-col {
    width: 38.83495%;
    float: left;
    padding-right: 30px; }
    .footer-col:last-child {
      width: 19.41748%; }
    .footer-col:nth-child(2) .footer-copyright {
      display: none; }
    @media (max-width: 768px) {
      .footer-col {
        width: 50%;
        padding-right: 0; } }
    @media (max-width: 480px) {
      .footer-col {
        width: 100%; }
        .footer-col:first-child .footer-copyright {
          display: none; }
        .footer-col:nth-child(2) .footer-copyright {
          display: block;
          text-align: center;
          float: none;
          margin-bottom: 39px; } }
    .footer-col dl {
      font-size: 18px;
      margin-bottom: 29px; }
      @media (max-width: 768px) {
        .footer-col dl {
          font-size: 16px; } }
      @media (max-width: 480px) {
        .footer-col dl {
          margin-bottom: 15px; } }
      .footer-col dl dt {
        text-align: right;
        width: 33.33333%;
        padding-right: 5%;
        float: left;
        line-height: 31px; }
        .footer-col dl dt b {
          font-weight: 500; }
      .footer-col dl dd {
        text-align: left;
        width: 66.66667%;
        float: left;
        line-height: 31px; }
  .footer-menu {
    margin-bottom: 23px; }
    .footer-menu ul li {
      margin-bottom: 18px; }
      .footer-menu ul li a {
        font-size: 18px;
        font-weight: 500;
        color: #424242; }
  .footer-copyright {
    float: left;
    color: #424242;
    margin-top: 39px; }
    @media (max-width: 768px) {
      .footer-copyright {
        font-size: 16px; } }
  @media (max-width: 768px) {
    .footer-socials {
      text-align: right; } }
  @media (max-width: 480px) {
    .footer-socials {
      max-width: 30px;
      float: right;
      margin-bottom: 26px; } }
  .footer-hidden {
    display: none;
    background: #e9e3d7;
    padding: 25px 0; }
    .footer-hidden .footer-menu {
      margin-bottom: 0;
      text-align: center; }
    @media (max-width: 768px) {
      .footer-hidden {
        display: block; } }
  .footer-main {
    position: relative;
    padding-top: 38px; }
    .footer-main:before {
      content: '';
      background: url(../img/footer-img-top.png) no-repeat center bottom;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 25%;
      width: 160px;
      height: 98px; }
      @media (max-width: 768px) {
        .footer-main:before {
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 150px;
          height: 75px; } }
    .footer-main:after {
      content: '';
      background: url(../img/footer-img-bottom.png) no-repeat center top;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 28%;
      width: 215px;
      height: 107px; }
      @media (max-width: 768px) {
        .footer-main:after {
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 150px;
          height: 75px; } }
    @media (max-width: 768px) {
      .footer-main .footer-col:last-child {
        display: none; } }

.popup-inner {
  padding: 20px 20px; }

.about {
  background: #fbfaf7;
  padding: 13px 0 0 0;
  margin-bottom: 96px; }
  .about-text {
    max-width: 970px; }
    .about-text p {
      font-size: 18px;
      text-align: center;
      line-height: 34px; }
      .about-text p em {
        font-weight: 500; }
  .about-image {
    text-align: center; }

.media-list {
  margin-left: -25px;
  margin-right: -25px; }
  @media (max-width: 768px) {
    .media-list.prev-list .media-item:nth-child(3n) {
      display: none; } }

.media-item {
  float: left;
  padding-right: 25px;
  padding-left: 25px;
  width: 33.33%;
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .media-item {
      width: 50%; } }
  @media (max-width: 480px) {
    .media-item {
      width: 100%; } }
  .media-item-inner {
    max-width: 300px;
    margin: 0 auto; }
    .media-item-inner > h4 {
      text-align: center;
      height: 70px;
      margin-bottom: 23px;
      overflow: hidden;
      line-height: 24px; }
      .media-item-inner > h4 a {
        color: #0d5529; }
    .media-item-inner time {
      font-size: 11px;
      text-align: center;
      display: block;
      margin-bottom: 6px; }
  .media-item-content {
    background: #f6f2ea;
    padding: 5px;
    position: relative;
    overflow: hidden; }
    .media-item-content p {
      color: #000;
      line-height: 17px; }
    .media-item-content .detail {
      text-align: left;
      margin-bottom: 0; }
    .media-item-content:hover .media-item-hidden, .media-item-content.active .media-item-hidden {
      transform: translateY(0);
      z-index: 3; }
  .media-item-text {
    overflow: hidden;
    height: 100%;
    margin-bottom: 3px; }
  .media-item-visible img {
    display: block;
    margin: 0 auto; }
  .media-item-hidden {
    padding: 25px 22px 39px 22px;
    background: #f6f2ea;
    transform: translateY(-100%);
    transition: 400ms all ease;
    z-index: 0; }

.advice {
  background-color: #eae7da;
  background-image: url(../img/advice-bg.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 94px 0 25px 0; }
  .advice-list {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 2px; }
  .advice-item {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    width: 33.33%;
    text-align: center;
    display: table;
    margin-bottom: 32px; }
    @media (max-width: 768px) {
      .advice-item {
        width: 50%; } }
    @media (max-width: 480px) {
      .advice-item {
        width: 100%; } }
    .advice-item-inner {
      background: #f6f2ea;
      height: 150px;
      padding: 15px 10%;
      overflow: hidden;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      transition: 300ms all ease; }
      .advice-item-inner h4 {
        margin-bottom: 0;
        transition: 300ms all ease; }
      .advice-item-inner:hover {
        background: #0d5529; }
        .advice-item-inner:hover h4 {
          color: #fff; }
        .advice-item-inner:hover .detail {
          opacity: 1; }
          .advice-item-inner:hover .detail a {
            color: #f4d03f; }
    .advice-item .detail {
      position: absolute;
      left: 20px;
      bottom: 14px;
      opacity: 0;
      transition: 300ms all ease; }
      .advice-item .detail a {
        color: #f4d03f; }

.tips {
  background: #f4d03f;
  padding-top: 110px;
  padding-bottom: 24px;
  text-align: center; }
  @media (max-width: 768px) {
    .tips {
      padding-top: 40px; } }
  .tips .mainheading {
    color: #fff; }
    .tips .mainheading span {
      border-color: #fff; }
  .tips-link {
    position: absolute;
    right: 6%;
    bottom: 37px;
    display: inline-block; }
    @media (max-width: 768px) {
      .tips-link {
        position: static; } }

.production {
  background: #f6f2ea;
  padding: 32px 40px;
  margin-bottom: 48px; }
  .production-slider {
    margin-bottom: 0 !important;
    outline: none; }
    .production-slider .slick-slide {
      outline: none; }
      .production-slider .slick-slide p {
        font-size: 14px;
        line-height: 1.429;
        text-align: center;
        padding: 0 15px; }
      .production-slider .slick-slide img {
        margin: 0 auto 18px auto; }
    .production-slider .slick-prev {
      background: url(../img/arrow-green.png);
      width: 26px;
      height: 26px; }
      .production-slider .slick-prev:before {
        content: none; }
    .production-slider .slick-next {
      background: url(../img/arrow-green.png) !important;
      width: 26px;
      height: 26px;
      transform: rotate(180deg); }
      .production-slider .slick-next:before {
        content: none; }
  .production-img {
    background: #f6f2ea;
    padding: 10px 10px;
    margin-bottom: 25px;
    margin-top: 15px; }

@media (min-width: 1030px) {
  .container {
    width: 1030px;
    padding: 0 0; } }

@media (min-width: 769px) {
  .navbar-toggle {
    display: none; }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  .visible-xs {
    display: none; } }

@media (max-width: 768px) {
  .header-menu .navbar-collapse {
    padding: 20px 0 10px 0; }
  .header-menu ul {
    display: block; }
    .header-menu ul li {
      display: block;
      float: none;
      padding: 0; }
      .header-menu ul li:first-child, .header-menu ul li:last-child {
        text-align: center !important; }
      .header-menu ul li a {
        line-height: inherit;
        padding: 0;
        line-height: 35px; }
  .visible-xs {
    display: block; } }
