@charset "UTF-8";
/*buttons*/
.icon, .button {
  display: inline-block;
  vertical-align: middle; }

.form-field:last-child {
  margin-bottom: 0; }

a {
  color: #000; }
  a:hover {
    color: #000;
    text-decoration: none; }


.container:after,
.button-group:after {
  content: '';
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
  display: block; }

.icon, .button {
  display: inline-block;
  vertical-align: middle; }

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

b {
  font-weight: bold; }

i {
  font-style: italic; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1; }

.main .sidebar {
  width: 180px;
  float: left; }

.main .content {
  float: left;
  width: 780px; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden; }
  .footer_placeholder {
    height: 0; }

.tabs-list {
  margin-bottom: 30px; }

/* fonts */
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden; }

.juster {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden; }

.vfix {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle; }

.hiddenBlock {
  position: absolute;
  left: -99999em;
  top: -99999em; }

.hidden {
  display: none; }

html {
  height: 100%; }

body {
  min-height: 100%;
  min-width: 320px;
  font-family: arial, sans-serif;
  font-size: 14px;
  background: #fff;
  color: #000;
  position: relative; }

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%; }

.social-icon {
  background-image: url("../images/social-icon.png");
  background-repeat: no-repeat; }
  .social-icon_fb {
    background-position: 0 0; }
  .social-icon_vk {
    background-position: -15px 0; }

.button {
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #8a004e;
  box-shadow: inset 0px 0px 0px 0px #a4025e;
  border: 0px solid #8a004e;
  border-radius: 5px;
  outline: none;
  z-index: 2;
  cursor: pointer; }
  .button:hover {
    background: #a4025e;
    color: #fff; }
  .button.btn-outline {
    border: 1px solid #a4025e;
    background: transparent;
    color: #a4025e; }
    .button.btn-outline:hover {
      color: #fff;
      border: 1px solid #a4025e;
      background: #a4025e; }
  .button.btn-block {
    display: block;
    width: 100%; }
  .button.btn-small {
    text-transform: none;
    font-size: 14px;
    height: 22px;
    line-height: 22px; }
  .button input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    background: url("../images/spacer.gif");
    cursor: pointer; }

.button-group > .button {
  position: relative;
  float: left;
  width: 33.33%; }

.button-group > .button:not(:first-child):not(:last-child) {
  border-radius: 0; }

.button-group > .button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0; }

.button-group > .button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.mainheading, .ctext h1, h1, .subheading, .form legend, .ctext h2, h2, .thirdheading, .ctext h3, h3, .fourheading, .ctext h4, h4, .fiveheading, .ctext h5, h5 {
  display: block;
  font-weight: normal;
  margin-bottom: 1em;
  color: #242424; }

a {
  border: 0; }
  a:hover {
    color: #000;
    text-decoration: none; }

.mainheading, .ctext h1, h1 {
  font-size: 30px;
  margin-bottom: 25px; }

.subheading, .form legend, .ctext h2, h2 {
  font-size: 25px; }

.thirdheading, .ctext h3, h3 {
  font-size: 22px; }

.fourheading, .ctext h4, h4 {
  font-size: 18px; }

.fiveheading, .ctext h5, h5 {
  font-size: 16px; }

.ctext p {
  margin: 0 0 15px 0;
  line-height: 16px;
  font-size: 14px; }
  .ctext p:last-child {
    margin-bottom: 0; }

.ctext ul {
  margin: 0em 0 1.8em 0px; }
  .ctext ul:last-child {
    margin-bottom: 0; }
  .ctext ul li {
    position: relative;
    line-height: 1.80em;
    font-size: 0.875em;
    letter-spacing: 0.0179em;
    margin: 0 0 1.8em 15px; }
    .ctext ul li:before {
      content: '—';
      position: absolute;
      left: -15px;
      top: 0;
      color: #242424; }

.ctext blockquote {
  position: relative;
  text-transform: uppercase;
  margin: 0 0 1.5em 0;
  padding-left: 2.2em;
  font-size: 1.2em;
  line-height: 1.6em;
  letter-spacing: 0.1111em; }
  .ctext blockquote:after {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    bottom: 9px;
    width: 4px;
    background-color: #edf2f5; }

.ctext table {
  border-collapse: collapse; }

.ctext table td {
  border: 1px solid; }

.ctext .button {
  margin-bottom: 5px; }

.form {
  position: relative; }
  .form-field {
    margin-bottom: 15px; }
    .form-field label {
      font-size: 14px;
      display: block;
      margin-bottom: 15px; }

.collapse {
  display: none; }

.navbar-collapse {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0); }

.navbar-toggle {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  right: 15px;
  top: 6px;
  width: 26px;
  float: none;
  z-index: 2;
  position: absolute; }

.navbar-toggle .icon-container {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.navbar-toggle .line01 {
  top: 0;
  opacity: 1;
  -webkit-transition-delay: 210ms;
  -moz-transition-delay: 210ms;
  -ms-transition-delay: 210ms;
  -o-transition-delay: 210ms;
  transition-delay: 210ms; }

.navbar-toggle .line02 {
  top: 7px;
  -webkit-transition-delay: 140ms;
  -moz-transition-delay: 140ms;
  -ms-transition-delay: 140ms;
  -o-transition-delay: 140ms;
  transition-delay: 140ms; }

.navbar-toggle .line03 {
  top: 14px;
  -webkit-transition-delay: 70ms;
  -moz-transition-delay: 70ms;
  -ms-transition-delay: 70ms;
  -o-transition-delay: 70ms;
  transition-delay: 70ms; }

.navbar-toggle .line04 {
  top: 21px;
  opacity: 0;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms; }

.navbar-toggle .line {
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  right: 28px;
  height: 3px;
  background-color: #848484;
  -webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.navbar-toggle:hover .line01 {
  opacity: 0;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms; }

.navbar-toggle:hover .line02 {
  -webkit-transition-delay: 70ms;
  -moz-transition-delay: 70ms;
  -ms-transition-delay: 70ms;
  -o-transition-delay: 70ms;
  transition-delay: 70ms; }

.navbar-toggle:hover .line03 {
  -webkit-transition-delay: 140ms;
  -moz-transition-delay: 140ms;
  -ms-transition-delay: 140ms;
  -o-transition-delay: 140ms;
  transition-delay: 140ms; }

.navbar-toggle:hover .line04 {
  opacity: 1;
  -webkit-transition-delay: 210ms;
  -moz-transition-delay: 210ms;
  -ms-transition-delay: 210ms;
  -o-transition-delay: 210ms;
  transition-delay: 210ms; }

.navbar-toggle:hover .line {
  -webkit-transform: translate3d(0, -7px, 0);
  -moz-transform: translate3d(0, -7px, 0);
  -ms-transform: translate3d(0, -7px, 0);
  -o-transform: translate3d(0, -7px, 0);
  transform: translate3d(0, -7px, 0); }

.navbar-toggle.active .line:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
  opacity: 1; }

.navbar-toggle.active .line:nth-child(2) {
  background: none; }

.navbar-toggle.active .line:nth-child(4) {
  background: none; }

.navbar-toggle.active .line:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
  opacity: 1; }

.navbar-toggle.active .line {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.header-menu {
  position: relative;
  z-index: 2;
  background: #D0D0D0;
  margin-bottom: 20px; }
  .header-menu ul {
    display: table;
    width: 100%; }
    .header-menu ul li {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      height: 30px; }
      .header-menu ul li a {
        text-decoration: none; }
      .header-menu ul li.active,
      .header-menu ul li a:hover {
        text-decoration: underline; }
      .header-menu ul li:first-child {
        text-align: left; }
      .header-menu ul li:last-child {
        text-align: right; }

.popup-inner {
  padding: 20px 20px; }

@media (min-width: 960px) {
  .container {
    width: 960px;
    padding: 0 0; } }

@media (min-width: 768px) {
  .navbar-toggle {
    display: none; }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; } }

@media (max-width: 768px) {
  .header-menu ul {
    display: block; }
    .header-menu ul li {
      display: block; }
      .header-menu ul li:first-child, .header-menu ul li:last-child {
        text-align: center; } }
