<div class="about">
	<div class="container">
		<div class="mainheading"><span>Про нас</span></div>
		<div class="about-text">
			<p>Торгова марка  <em>«Щедрий Дар»</em> дарує  усі переваги здорового харчування. <br>
			Потурбуйтесь про себе і свою родину.<br>
			Обирайте для приготування улюблених страв соняшникову олію Торгової Марки <em>«Щедрий Дар»</em>.<br>
			Соняшникова Олія <em>"Щедрий ДАР"</em> розливається на Полтавському олійноекстракційному заводі - одному з найбільших підприємств галузі, що входить до складу компанїї <em>KERNEL</em>. На заводі встановлено найсучасніше устаткування, що дозволяє виготовляти рафіновану дезодоровану олію прогресивним методом "холодної рафінації"та нерафіновану – методом «першого віджиму».<br>
			Висока якість соняшникової олії ТМ <em>«Щедрий Дар»</em> є запорукою довіри українського споживача.</p>
		</div>
		<div class="about-image">
			<img src="img/about-img.png" alt="">
		</div>
	</div>
</div>