<div class="advice">
	<div class="container">
		<div class="mainheading"><span>чи знаєте ви що ...</span></div>
		<div class="advice-list">
			@@include('_advice-item.html', {
				"title": "Топ найсмачніших літніх пирогів"
			})
			@@include('_advice-item.html', {
				"title": "Як харчуватися влітку  раціон для «гарячого» сезону"
			})
			@@include('_advice-item.html', {
				"title": "Топ-З сезонних страви з молодих овочів"
			})
			@@include('_advice-item.html', {
				"title": "Раціон відмінника: чим годувати школяра?"
			})
			@@include('_advice-item.html', {
				"title": "Як спекти смачну паску: секрети господині"
			})
			@@include('_advice-item.html', {
				"title": "Низькокалорійне меню для милих дам до 8 березня"
			})
		</div>
		<a href="#" class="button">Більше порад</a>
	</div>
</div>