    <div class="footer_placeholder"></div>
    <footer class="footer">
        <div class="footer-main">
            <div class="container">
                <h3><span>Кернел</span></h3>
                <div class="footer-row">
                    <div class="footer-col">
                        <dl>
                            <dt><b>Адреса:</b></dt>
                            <dd>Україна, 01001, м. Київ, <br> пров. Тараса Шевченка, 3</dd>
                        </dl>
                        <dl>
                            <dt><b>Тел.:</b></dt>
                            <dd>(+38-044) 461-88-01 <br>
                            (+38-044) 461-88-04 <br>
                            (+38-044) 461-88-06</dd>
                        </dl>
                        <div class="footer-copyright">© 2016 КЕРНЕЛ</div>
                    </div>
                    <div class="footer-col">
                        <dl>
                            <dt><b>Факс:</b></dt>
                            <dd>    
                            (+38-044) 461-88-64 <br>
                            (+38-044) 461-88-66</dd>
                        </dl>
                        <dl>
                            <dt><b>Сайт:</b></dt>
                            <dd>http://kernel.ua/ru/</dd>
                        </dl>
                        <dl>
                            <dt><b>Гаряча лінія:</b></dt>
                            <dd>0-800-302-800</dd>
                        </dl>
                        <div class="footer-copyright">© 2016 КЕРНЕЛ</div>
                        <div class="footer-socials visible-xs"><a href="#"><img src="img/fb.png" alt=""></a></div>
                    </div>
                    <div class="footer-col">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Головна</a></li>
                                <li><a href="#">Новини</a></li>
                                <li><a href="#">Продукція</a></li>
                                <li><a href="#">Тести</a></li>
                                <li><a href="#">Чи знаєте ви, що...</a></li>
                                <li><a href="#">Контакти</a></li>
                            </ul>
                        </div>
                        <div class="footer-socials"><a href="#"><img src="img/fb.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="footer-hidden">
            <div class="footer-menu">
                <ul>
                    <li><a href="#">Головна</a></li>
                    <li><a href="#">Новини</a></li>
                    <li><a href="#">Продукція</a></li>
                    <li><a href="#">Тести</a></li>
                    <li><a href="#">Чи знаєте ви, що...</a></li>
                    <li><a href="#">Контакти</a></li>
                </ul>
            </div>
        </div>
    </footer>  
    <link rel="stylesheet" type="text/css" href="css/bower.css" media="all" />  
    <link rel="stylesheet" type="text/css" href="css/develop-style.css" media="all" /> 
    <script src="js/bower.js" type="text/javascript" charset="utf-8"></script> 
    <script src="js/application.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/common.js" type="text/javascript" charset="utf-8"></script>
</body>

</html> 