    <div class="footer_placeholder"></div>
    <footer class="footer">
        <div class="container">
        </div>
    </footer>  
    <link rel="stylesheet" type="text/css" href="css/bower.css" media="all" />  
    <link rel="stylesheet" type="text/css" href="css/develop-style.css" media="all" />  
    <script src="js/application.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bower.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/common.js" type="text/javascript" charset="utf-8"></script>
</body>

</html> 