<div class="navbar-toggle">
    <span class="icon-container">
        <span class="line line01"></span>
        <span class="line line02"></span>
        <span class="line line03"></span>
        <span class="line line04"></span>
    </span>
</div>
<nav class="navbar topMenu">
    <div class="collapse navbar-collapse">
        <ul class="menu">
            <li><a href="#">Новини</a></li>
            <li><a href="#">тести</a></li>
            <li><a href="#">Новини</a></li>
            <li><a href="#">чи знаєте ви, що...</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>
    </div>
</nav>