.about{
	background: #fbfaf7;
	padding: 13px 0 0 0;
	margin-bottom: 96px;
	&-text{
		max-width: 970px;
		p{
			font-size: 18px;
			text-align: center;
		    line-height: 34px;
			em{
				font-weight: 500;
			}
		}
	}
	&-image{
		text-align: center;
	}
}