.production{
	background: #f6f2ea;
	padding: 32px 40px;
	margin-bottom: 48px;
	&-slider{
		margin-bottom: 0 !important;
		outline: none;
		.slick-slide{
			outline: none;
			p{
				font-size: 14px;
				line-height: 1.429;
				text-align: center;
				padding: 0 15px;
			}
			img{
				margin: 0 auto 18px auto;
			}
		}
		.slick-prev{
			background: url(../img/arrow-green.png) !important;
			width: 26px;
			height: 26px;
			&:before{
				content: none;
			}
		}
		.slick-next{
			background: url(../img/arrow-green.png) !important;
			width: 26px;
			height: 26px;
			transform: rotate(180deg);
			&:before{
				content: none;
			}
		}
	} 
	&-img{
		background: #f6f2ea;
		padding: 10px 10px;
		margin-bottom: 25px;	
		margin-top: 15px;	
	}
	&-tab{
		@extend %clear;
		&-item{
			width: calc(50% - 15px);
			float: left;
			margin-right: 30px;
			background: #f6f2ea;
			padding: 10px 10px 10px 10px;
			margin-bottom: 40px;
			position: relative;
			cursor: pointer;
			@media (max-width:768px){
				width: 100%;
				float: none;
				max-width:500px;
				margin-left:auto !important;
				margin-right:auto !important;
			}
			&:last-child{
				margin-right: 0;
				h2{
					text-align: right;
				}
			}
			&-img{
				position: relative;
			    margin-top: -63px;
			    img{
			    	margin: 0 auto;
			    }
			
				@media (max-width:480px){
					margin-top: -40px;
				}
			}
			h2{
				line-height: 41px;
				margin-bottom: 0;
				padding: 0 5px;
				text-transform: none;
				@media (max-width:480px){
					font-size: 26px;
				}
			}
			&.active{
				&:after{
					content:'';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 22px 22px 0 22px;
					border-color: #f4d03e transparent transparent transparent;
					top: 100%;
					left: 0;
					right: 0;
					margin:0 auto;
					position: absolute;
				}
			}
		}
		&-hidden{
		}
	}
}