.tips{
	background: $yellowColor;
	padding-top: 110px;
    padding-bottom: 24px;
    text-align: center;
	@media (max-width:768px){ 
		padding-top: 40px;
	}
	.mainheading{
		color: #fff;
		span{
			border-color: #fff;
		}
	}
	&-link{
		position: absolute;
	    right: 6%;
    	bottom: 37px;
    	display: inline-block;
		@media (max-width:768px){ 
			position: static;
		}
	}
}
.test{
	&panel{
		@extend %clear;
		margin-bottom: 20px;
		&-img{
			background: #f6f2ea;
			padding: 5px;
			float: left;
			width: pxtopercent(300);
			@media (max-width:768px){ 
				margin-bottom: 20px;
				width: 100%;
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
				float: none;
			}
		}
		&-text{
			float: left;
			width: pxtopercent(640);
			margin-left: pxtopercent(30);

			@media (max-width:768px){ 
				width: 100%;
				margin-left: 0;	
			}
		}
		&-list{
			margin-bottom: 25px;
		}
		&-box{
			background: #f6f2ea;
			padding: 26px 20px;
			margin-bottom: 50px;
			.mheading{
				@extend %heading;
				font-size: 18px;
				font-weight: 500;
				text-transform: uppercase;
				margin-bottom: 0; 
				@media (max-width:480px){
					text-align: center;
				}
			}
			h4{
				color: $baseColor;
				text-transform: none;
				@media (max-width:480px){
					text-align: center;
				}
			}
		}
		&-item{
			margin-bottom: 17px;
			.icon{
				margin-right: 6px;

			}
			label{
				cursor: pointer;
			}

			@media (max-width:480px){ 
				text-align: center;
				span{
					display: block;
					padding-top: 8px;
				}	
			}
		}
	}
}